* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.d-flex {
    input {
        margin: 1rem 0rem;
    }
    button {
        margin: 1.5rem .6rem;
        padding: .3rem 2.4rem;
    }
}

.container {
    table {
        margin: 1rem 10rem;
        .btn-edit {
            color: green;
            cursor: pointer;
        }
        .btn-delete {
            color: red;
            cursor: pointer;
        }
    }
}

body {
    background: #485563;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #29323c, #485563);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #29323c, #485563);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.big-container {
    height: 1vh;
}

tbody {
    .btn-edit {
        transition: all 200ms ease-in-out;
        opacity: .5;
        &:hover {
            transform: scale(1.15);
            opacity: 1;
        }
    }
    .btn-delete {
        transition: all 200ms ease-in-out;
        opacity: .5;
        &:hover {
            transform: scale(1.15);
            opacity: 1;
        }
    }
}